BACKUP_DIR="{{ share }}/{{ type }}"
REMOTE_DB_NAME="{{ pgmgmt.db }}"
REMOTE_DB_USER="{{ pgmgmt.user }}"
REMOTE_DB_PASSWORD="{{ pgmgmt.pass }}"
REMOTE_DB_HOST="{{ mgmt_host }}"
LOCAL_DB_USER="{{ mysql.user }}"
LOCAL_DB_PASSWORD="{{ mysql.pass }}"
LOCAL_DB_NAME="mysql"
LOG_LEVEL="DEBUG"
