#!/bin/bash
export BACKUP_DIR="{{ share }}/{{ type }}"
export REMOTE_DB_NAME="{{ pgmgmt.db }}"
export REMOTE_DB_USER="{{ pgmgmt.user }}"
export REMOTE_DB_PASSWORD="{{ pgmgmt.pass }}"
export REMOTE_DB_HOST="{{ mgmt_host }}"
export LOCAL_DB_USER="{{ mysql.user }}"
export LOCAL_DB_PASSWORD="{{ mysql.pass }}"

python3 main_worker.py > "{{ log }}/worker.log" 2>&1 &
